.thumbnail {
	float: left;
	margin: 10px;
}

.panel-group {
	margin-top:30px;
}
#myTopics .btn, #categoryTopics .btn {
	margin:5px;
}
@media screen and (max-width: 768px) {
	.panel-body {
		padding-bottom: 0px;
	}
	#categories {
		margin-bottom:10px;
	}
	
}

