.thumbnail {
	
	margin: 10px;

    display: inline-block;
    white-space: nowrap;
}

.panel-group {
	margin-top:30px;
}


#myTopics .btn, #categoryTopics .btn {
	margin:5px;
}
@media screen and (max-width: 768px) {
	.panel-body {
		padding-bottom: 0px;
	}
	#categories {
		margin-bottom:10px;
	}
	
}
#images {
  /* Prevent vertical gaps */
  line-height: 0;
   
  -webkit-column-count: 5;
  -webkit-column-gap:   20px;
  -moz-column-count:    5;
  -moz-column-gap:      20px;
  column-count:         5;
  column-gap:           20px;  
  overflow: visible;
  break-inside: avoid-column;
 -webkit-column-break-inside: avoid;
 column-fill: red;
 column-rule-color: red
}

#images div {
  /* Just in case there are inline attributes */
  width: 100% !important;
  height: auto !important;
}
@media (max-width: 1200px) {
  #images {
  -moz-column-count:    4;
  -webkit-column-count: 4;
  column-count:         4;
  }
}
@media (max-width: 1000px) {
  #images {
  -moz-column-count:    3;
  -webkit-column-count: 3;
  column-count:         3;
  }
}
@media (max-width: 800px) {
  #images {
  -moz-column-count:    2;
  -webkit-column-count: 2;
  column-count:         2;
  }
}
@media (max-width: 400px) {
  #images {
  -moz-column-count:    1;
  -webkit-column-count: 1;
  column-count:         1;
  }
}


/*Masonry stuff...I have yet to get it working.*/
/*.thumbnail { width: 25%; }*/
/*
.grid-item { width: 200px; }
.grid-item--width2 { width: 400px; }*/

